// 金币跳动旋转
.bounce-rotate-fade-in {
  animation: bounce-rotate-animation 1.5s infinite;
  @keyframes bounce-rotate-animation {
    20% {
      transform: translateY(-6px);
    }
    30% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-3px);
    }
    50% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(0) rotateY(0);
    }
    80% {
      transform: translateY(0) rotateY(180deg);
    }
  }
}
// 禁止选中
.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* 标准语法 */
}

// 元素 - 穿透
.pointer-pass {
  pointer-events: none;
}

// line线 挡住渐变
.line-mask {
  position: absolute;
  top: -48px;
  height: 48px;
  width: 100%;
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0, #ffffff 100%);
  pointer-events: none;
}

/* 文字单行省略号 */
.single-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.multiple-omit {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自動換行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

// 点击缩放
.click-scale:active {
  transform: scale(0.95);
  opacity: 0.95;
  transition: 100ms;
}
