.home-page {
  #logoCollection {
    position: relative;
    &::before,
    &::after {
      content: '';
      width: 10rem;
      height: 1px;
      background-image: linear-gradient(
        to right,
        transparent,
        rgba(85, 166, 246, 0.4),
        transparent
      );
      position: absolute;
      animation: line-translate-animation 10s ease-in-out infinite 10s both;
    }
    &::before {
      top: -1px;
    }
    &::after {
      bottom: -1px;
    }
    @keyframes line-translate-animation {
      0%,
      100% {
        left: 0;
        opacity: 0;
      }
      50% {
        left: 100%;
        transform: translateX(-100%);
      }
      10%,
      40%,
      60%,
      90% {
        opacity: 0;
      }
      25%,
      75% {
        opacity: 1;
      }
    }
  }
}

.home-page__header {
  // styles for the header within the home page component
}

.home-page__content {
  // styles for the content section within the home page component
}
